# 模型 Git 仓库
OmniGen/
OmniGen2/
OmniGen2-EditScore7B/
CLIP/
Qwen-Image/
dinov3/
Infinity/
flux/
segment-anything/
GroundingDINO/
segment-anything-2/
Grounded-SAM-2/
Z-Image-Turbo/
Long-CLIP/
sam2/
tomoro-colqwen3-embed-8b/
FlagEmbedding/
models/
output/
Qwen3-VL-4B-Instruct/

# 大型数据集和文件
datasets/
results/
ILSVRC2012_img_train.tar
hf_cache/

# Python 缓存和日志
__pycache__/
*.pyc
nohup.out

# 旧版本代码
oldcode/
temp/